@model ApexChartMixedChartModel

@{
    var series = Model.Series;
    var labels = Model.Labels;
}

<div id="chart"></div>

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        const series = @Html.Raw(Json.Serialize(Model.Series));
        const labels = @Html.Raw(Json.Serialize(Model.Labels));

        var options = {
            series: series.map(s => ({
                name: s.name,
                type: s.type,
                data: s.data
            })),
            chart: {
                height: 350,
                type: 'line',
                stacked: false,
            },
            stroke: {
                width: [0, 2, 5],
                curve: 'smooth'
            },
            plotOptions: {
                bar: {
                    columnWidth: '50%'
                }
            },
            fill: {
                opacity: [0.85, 0.25, 1],
                gradient: {
                    inverseColors: false,
                    shade: 'light',
                    type: "vertical",
                    opacityFrom: 0.85,
                    opacityTo: 0.55,
                    stops: [0, 100, 100, 100]
                }
            },
            labels: labels,
            markers: {
                size: 0
            },
            xaxis: {
                type: 'datetime'
            },
            yaxis: {
                title: {
                    text: 'Points',
                }
            },
            tooltip: {
                shared: true,
                intersect: false,
                y: {
                    formatter: function (y) {
                        if (typeof y !== "undefined") {
                            return y.toFixed(0) + " points";
                        }
                        return y;
                    }
                }
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>
}