@{
    ViewData["Title"] = "Create BlogAjax";
}

    <div class="mb-3">
        <label for="txtTitle" class="form-label">Title</label>
        <input type="text" class="form-control" id="txtTitle" name="Title">
    </div>
    <div class="mb-3">
        <label for="txtAuthor" class="form-label">Author</label>
        <input type="text" class="form-control" id="txtAuthor" name="Author">
    </div>
    <div class="mb-3">
        <label for="txtContent" class="form-label">Content</label>
        <input type="text" class="form-control" id="txtContent" name="Content">
    </div>
    <button type="button" id="btnCancel" class="btn btn-secondary">Cancel</button>
    <button type="button" id="btnSave" class="btn btn-success">Save</button>

    @section scripts{
        <script>
            $("#btnSave").click(function(){
                const title = $('#txtTitle').val();
                const author = $('#txtAuthor').val();
                const content=$('#txtContent').val();

            $.ajax({
                url: "/BlogAjax/Save",
                type: "POST",
                data: {
                    Title:title,
                    Content:content,
                    Author:author
                },
                success: function (response) {
                    console.log({ response });
                    
                    if(!response.IsSuccess){
                        alert(response.Message);
                        return;
                    }
                    alert(response.Message);
                    location.href = "/BlogAjax";
                },
                error: function (error) {
                    console.log(error);
                }
            });
            })
        </script>
    }

